@import "~bootstrap/scss/bootstrap";

#button-addon2 {
  color: white;
}
.done {
  text-decoration: line-through;
}
#header {
  text-align: center;
}
.container {
  background-color:whitesmoke;
  height: auto;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.btn-primary{
    background-color: rgb(165, 119, 20);
}